<link rel="stylesheet" href="/project-1-vite/src/css/footer.css" />
<footer>
  <div class="container">
    <div class="footer-title">
      <h1 class="focus-title">Focus.Frame</h1>
      <address class="footer-address">
        <ul class="address-ul">
          <li class="address-list">
            <a class="address-link" href="tel:+380665438912"
              >+38 066 543 8912
            </a>
          </li>
          <li class="address-list">
            <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
          </li>
        </ul>
      </address>
    </div>
    <div class="privacy">
      <a href="privacy-link">Privacy Policy</a> <br />
      Public Offering Agreement
    </div>
    <div></div>
  </div>
</footer>
