<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <h1 class="hero-title">
        Discover the magic of <span>photography</span> in our school
      </h1>

      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>

      <div class="hero-review-wrap">
        <div class="hero-students-wrap">
          <ul class="hero-students-list">

            <li class="hero-student-item">
              <img class="hero-student-image"
              srcset=""
              src=""
              alt=""
              width=""
              height="" />
            </li>
            <li class="hero-student-item">
              <img class="hero-student-image"
              srcset=""
              src=""
              alt=""
              width=""
              height="" />
            </li>
            <li class="hero-student-item">
              <img class="hero-student-image"
              srcset=""
              src=""
              alt=""
              width=""
              height="" />
            </li>


          </ul>

        </div>
      </div>
    </div>
  </div>
</section>
