<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <h1 class="hero-title">
        Discover the magic of <span>photography</span> in our school
      </h1>

      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>

      <div class="hero-reviews-wrap">
        <div class="hero-students-wrap">
          <ul class="hero-students-list">
            <li class="hero-student-item">
              <img
                class="hero-student-image"
                srcset=""
                src="/img/hero/students-img-mob-3.png"
                alt=""
                width="54"
                height="54"
              />
            </li>
            <li class="hero-student-item">
              <img
                class="hero-student-image"
                srcset=""
                src="/img/hero/students-img-mob-1.png"
                alt=""
                width="54"
                height="54"
              />
            </li>
            <li class="hero-student-item">
              <img
                class="hero-student-image"
                srcset=""
                src="/img/hero/students-img-mob-2.png"
                alt=""
                width="54"
                height="54"
              />
            </li>
          </ul>
          <a class="students-link" href="#reviews">
            Our Happy students.
            <img class="arrow-icon" src="/img/hero/Arrow.svg" />
          </a>
        </div>
        <div class="hero-star-reviews">
          <span class="reviews-icon-container">
            <img class="hero-star-icon" src="/img/hero/star.svg" width="20" height="20">
          </span>
          <div class="reviews-text-box">
            <p class="reviews-sub-text">Reviews</p>
            <p class="reviews-number">+1500</p>
          </div>
        </div>
      </div>
      <picture class="hero-picture">
        <source
          srcset="
            /img/hero/photographer-img-desktop.png    1x,
            /img/hero/photographer-img-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/hero/photographer-img-tab.png    1x,
            /img/hero/photographer-img-tab@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/hero/photographer-img-mob.webp    1x,
            /img/hero/photographer-img-mob@2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="photographer-img"
          src="/img/hero/photographer-img-mob.webp"
          alt="photographer"
        />
      </picture>
    </div>
  </div>
</section>
