<section class="reviews">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
    <div class="reviews-container">
      <div class="review-card">
        <div class="review-header">
          <img
            src="/img/reviews/user.png"
            alt="Abraham Baker"
            class="profile-img"
          />
          <div class="student-name">
            Abraham Baker
            <div class="review-title">Student</div>
          </div>

          <div class="review-rating">
            <span>5/5</span>
          </div>
        </div>
        <div class="review-content">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </div>
      </div>
      <div class="review-card">
        <div class="review-header">
          <img
            src="/img/reviews/user (1).png"
            alt="Abraham Baker"
            class="profile-img"
          />
          <div class="student-name">
            Amanda Lowery
            <div class="review-title">Student</div>
          </div>

          <div class="review-rating">
            <span>5/5</span>
          </div>
        </div>
        <div class="review-content">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </div>
      </div>
    </div>
  </div>
</section>
