<section class="reviews">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
    <div class="reviews-container">
      <div class="review-card">
        <div class="review-header">
          <img
            src="/img/reviews/user.png"
            alt="Abraham Baker"
            class="profile-img"
          />
          <div class="student-name">
            Buraya İsim gelecek.
            <div class="review-title">Title gelecek</div>
          </div>

          <div class="review-rating">
            <span>5/5</span>
          </div>
        </div>
        <div class="review-content">review içeriği gelecek.</div>
      </div>
      <div class="review-card">
        <div class="review-header">
          <img
            src="/img/reviews/user (1).png"
            alt="Abraham Baker"
            class="profile-img"
          />
          <div class="student-name">
            Buraya İsim gelecek.
            <div class="review-title">Title gelece</div>
          </div>

          <div class="review-rating">
            <span>5/5</span>
          </div>
        </div>
        <div class="review-content">review içeriği gelecek.</div>
      </div>
    </div>
  </div>
</section>
