.highlight {
  color: #c4a99e;
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  padding: 20px;
  gap: 40px;
}

.about-image {
  width: 260;
}

.about-text {
  width: 100%;
  text-align: left;
  padding: 20px;
}

.about-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
}

/*----- Tablet -----*/

@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    width: 100%;
  }
}

/*----- Desktop -----*/

@media (min-width: 1280px) {
  .about-container {
    display: flex;
    width: 100%;
  }
}
