.master-div {
  font-size: 59px;

  font-weight: 400;
  font-size: 59px;
  line-height: 64px;
  letter-spacing: -2%;
  text-transform: uppercase;
}

.adver-text {
  font-size: 59px;
}

.adver-span {
  color: #bea69e;
}
