.master-div {
  font-size: 59px;
  text-align: center;
  font-weight: 400;
  font-size: 59px;
  line-height: 64px;
  letter-spacing: -2%;
  text-transform: uppercase;
  align-items: center;
}

.adver-text {
  font-size: 59px;
}

.adver-span {
  color: #bea69e;
}
