.mentors-container {
  max-width: 1280px;
  margin: auto;
}

.mentors-tittle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: white;
}

.mentors-div {
  gap: 50px;
}

.mentor-span {
  color: #bea69e;
  font-weight: 500;
}

.mentors-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-left: 30px;
}

.mentors-ul li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentor-name {
  color: white;
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}

.mentor-p {
  color: #ffffff80;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
}

@media screen and (min-width: 320px) {
  .mentors-ul li {
    width: 100%;
  }

  .mentors-tittle {
    flex: 4;
    font-size: 48px;
    line-height: 1.125;
  }
  .mentor-p {
    flex: 5;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .mentors-ul li {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1280px) {
  .mentors-ul li {
    width: calc(25% - 20px);
  }
  .mentors-tittle {
    flex: 625;
    font-size: 48px;
  }
  .mentor-p {
    flex: 374;
    font-size: 16px;
    line-height: 1.25;
  }
}
