/* Reviews Section */
.reviews {
  padding: 80px 0;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Reviews Container */
.reviews-container {
  display: flex;
  gap: 20px;
}

/* Individual Review Card */

.review-card {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 100%;
  background-color: #121212;
}

.two {
  display: none;
}

/* Profile Info */
.review-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.review-name {
  font-size: 18px;
  margin: 0;
}

.review-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff80;
}

.review-role {
  font-size: 12px;
  color: #888;
  margin: 0;
}

/* Review Text */
.review-content {
  font-size: 14px;
  line-height: 18px;
  color: #ddd;
  font-weight: 400;
}

/* Star Rating */
.review-rating {
  font-size: 18px;
  color: #c99;
  margin-bottom: 20px;
  margin-left: 305px;
}

@media screen and (min-width: 320px) {
  .review-rating {
    font-size: 18px;
    color: #c99;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-card {
    width: calc((100% - 20px) / 2);
  }
  .two {
    display: block;
  }
}
